# destinations to ping, one per protocol version
IPV4_PING_DEST=$DEFAULT_GATEWAY_V4
IPV6_PING_DEST=$DEFAULT_GATEWAY_V6
# enable checks per protocol version
IPV4_ENABLED=0
IPV6_ENABLED=0
# set ping fail limits
PING_LIMIT_1=1
PING_LIMIT_2=3
PING_LIMIT_3=10
