body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#status-table {
    font-size: 90%;
}

#status-table .badge {
    white-space: normal !important;
    text-align: left !important;
    line-height: 1.5 !important;
    padding: 0 .4em !important;
}

#preview-image {
    /* setting width/height means the image without borders: */
    box-sizing: content-box;
    min-height: 270px;
    background: #eee;

    /* format alt-text: */
    display: block;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    color: #999;
}

#full-preview {
    display: inline-block;
}

#busy-indicator {
    font-size: 5px;
    position: relative;
    top: 6px;
}

#status-table tr td:first-child {
    width: 40%;
}
